:root {
  --primary-text-color: #212121;
  --paragraph-color: #757575;
  --link-color: #2196f3;
  --background-color: rgba(33, 150, 243, 0.9);
  --button-color: #ffffff;
  --background-sheet-color: #ffffff;
  --footer-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-adress-color: #ffffff;
  --goit-color: rgba(255, 255, 255, 0.4);
  --background-team-color: #f5f4fa;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--background-sheet-color);
  color: var(--paragraph-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Навигация по странице  */

.conteiner {
  outline: var(--primary-text-color);

  margin-left: auto;
  margin-right: auto;
  margin-top: 94px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-container {
  background-color: var(--background-sheet-color);
}

/* Main-nav */

.nav-main {
  margin-top: 0px;
  display: flex;
  align-items: center;
}

.text-nav {
  display: flex;
  margin-left: 85px;
}

.text-nav .item + .item {
  margin-left: 50px;
}

.text-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

.link.accent {
  color: var(--link-color);
}

.text-nav .link.accent::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--link-color);

  opacity: 1;
}

/* Контакты в шапке */

.text-contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--paragraph-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

.text-contacts {
  display: flex;
  margin-left: auto;
}

.text-contacts .item + .item {
  margin-left: 30px;
}

.link:hover,
.link:focus {
  color: var(--link-color);
}

.icon-envelope,
.icon-phone {
  fill: currentColor;
}

.icon-envelope:hover,
.icon-phone:hover {
  fill: currentColor;
}

/* Основные стили страницы */

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Невидимые элементы */

.invisible {
  display: none;
}

/* Кнопки страницы */

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
}

.main-button {
  text-align: center;
}

/* Активные кнопки */

.button.primary {
  background-color: var(--background-color);
  color: var(--button-color);
}

.button.secondary {
  background-color: var(--background-team-color);
  color: var(--primary-text-color);

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--background-color);
  color: var(--button-color);
}

.button.primary.header {
  display: inline-block;
  margin-top: 30px;
}

/* Заголовки */

.main {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/headerimg.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-color: black;
}

.hero {
  text-align: center;
  padding-top: 200px;
}

.main-header {
  width: 696px;

  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-sheet-color);
}

.conteiner.item {
  margin-top: 93px;
  padding-left: 0px;
  padding-right: 0px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio .item {
  width: 370px;
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;

  overflow: hidden;
}

.portfolio .item:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio .item:nth-child(-n + 3) {
  margin-top: 34px;
}

.portfolio-card {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  /* opacity: 0; */

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.product:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

.projects {
  margin-top: 20px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.about {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 63px;
  left: 24px;
  width: 322px;
  height: 168px;
  margin-top: 4px;

  color: var(--footer-adress-color);
  font-size: 18px;
  line-height: 1.55;

  /* opacity: 0; */
}

.portfolio-card:hover .about {
  opacity: 1;
  transform: translateY(0);
}

.view {
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.87;
}

/* Заголовки меньшие */

/* Чем занимаемся */

.conteiner.task {
  margin-top: 94px;
}

.task {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* .our-task { */

.task-main {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.task-main .item + .item {
  margin-left: 30px;
}

.task-main .item {
  position: relative;
  height: 294px;
}

.fon {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.line {
  background-position: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
  color: var(--footer-adress-color);
}

/* команда */

.conteiner.team {
  margin-top: 94px;
  padding-top: 94px;
  text-align: center;
  background-color: var(--background-team-color);
}

.our-team {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;

  padding-bottom: 94px;
  padding-left: 215px;
  padding-right: 215px;
}

.our-team .card + .card {
  margin-left: 30px;
}

.card {
  background: #ffffff;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.card .name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 30px;
}

.card .position {
  font-size: 16px;
  line-height: 1.18;
  margin-top: 10px;
}

/* Особенности */

.features {
  display: flex;
}

.features .item {
  display: block;
  padding-left: 100px;
  padding-top: 25px;

  background-color: var(--background-team-color);

  width: 270px;
  height: 120px;
  border-radius: 4px;
}

.features .list + .list {
  margin-left: 30px;
}

.little-title {
  margin-top: 30px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .discript {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}

/* Наши клиенты */

.clients {
  display: flex;
}

.clients .item {
  margin-top: 50px;
  width: 170px;
  height: 90px;
  padding-top: 20px;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  background-size: contain;

  transition: border 250ms var(--timing-function);
}

.clients .item + .item {
  margin-left: 30px;
}

.clients .item:hover {
  border: 1px solid var(--link-color);
}

.logo1,
.logo2,
.logo3,
.logo4,
.logo5,
.logo6 {
  fill: #afb1b8;

  transition: fill 250ms var(--timing-function);
}

.logo1:hover,
.logo2:hover,
.logo3:hover,
.logo4:hover,
.logo5:hover,
.logo6:hover {
  fill: var(--link-color);
}

/*Адресс и контакты */

.finish {
  background-color: var(--footer-color);
}

.conteiner.finish {
  margin-top: 103px;
}

.footer-logo {
  margin-top: 45px;
}

.main-adress {
  display: flex;
  justify-content: space-between;
}

.adress-block {
  margin-right: 69px;
  width: 231px;
  height: 81px;
}

.adress-title {
  margin-top: 8px;

  color: var(--footer-adress-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.contacts a {
  color: var(--footer-contacts-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer-list .paragraph,
.lets-go .paragraph {
  color: var(--footer-adress-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-list,
.lets-go {
  margin-top: 57px;
}

.footer-contact {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.footer-contact .item + .item {
  margin-left: 10px;
}

/* Автор и год */

.go-it {
  color: var(--goit-color);
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* Наши проэкты */

.team-contact {
  display: flex;
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
  justify-content: space-between;
}

.team-contact .item + .item {
  margin-left: 10px;
}

.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #ffffff;

  transition: background-color 250ms var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--link-color);
}

.social-link .icon-instagram,
.social-link .icon-twitter,
.social-link .icon-facebook,
.social-link .icon-linkedin {
  color: #afb1b8;

  transition: fill 250ms var(--timing-function);
}

.social-link .icon-instagram:hover,
.social-link .icon-twitter:hover,
.social-link .icon-facebook:hover,
.social-link .icon-linkedin:hover {
  fill: var(--footer-adress-color);
}

.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.footer-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}

.footer-icon:hover,
.footer-icon:focus {
  background-color: var(--link-color);
}

.footer-list .icon-instagram,
.footer-list .icon-twitter,
.footer-list .icon-facebook,
.footer-list .icon-linkedin {
  fill: #ffffff;
}

/* модальное окно */

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  /* opacity: 0; */
  /* pointer-events: none; */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background-color: var(--button-color);
}

textarea {
  resize: none;
}
